html, body{
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: color#222;
    color: #FAFAFA;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 500px;
    background-color: rgba(255, 138, 29, 0.5);
    border: 2px color #000000 solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

p{
    text-align: center;
    font-family: arial;
    font-size: 24px; 
}

#quantidade-cliques{
    font-size: 42px;
    color: rgb(0, 0, 0);
}

.info-menor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-menor p{
    font-size: 18px;
    width: 50%;
    color: #000000;
    text-align: left;
}

button{
    padding: 10px;
    background-color: rgb(255, 153, 0);
    color: #000000;
    border-radius: 8px;
    border: 0;
    font-size: 24px;
    transition-duration: 0.2s;
}

button:hover{
    background-color: rgb(255, 153, 0);
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}
