body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

header, footer {
    background-color: #444;
    color: white;
    padding: 20px;
}

main {
    flex-grow: 1;
    padding: 20px;
}
