.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px #ccc;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 20px auto;
}

.card-content {
    padding: 15px;
}


.card-content h3 {
    margin-top: 0;
}

.card-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card-content button:hover {
    background-color: #0056b3;
}
