#q1 {
  width: 200px;
  height: 100px;
  border: 3px solid green;
}

#q2 {
  width: 150px;
  height: 150px;
  background-color: blue;
}

#q3 {
  color: red;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

#q4 {
  color: purple;
  text-align: center;
}

#q5 {
  background-color: #eeeeee;
  padding: 25px;
}

.q6 {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin-bottom: 30px;
}

.q6.second {
  margin-bottom: 0;
}

#q7 {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
}

#q8 {
  width: 500px;
  height: 50px;
  border: 10px outset cyan;
}

.texto-importante {
  font-weight: bold;
}

#q10 {
  text-decoration: none;
  color: blue;
}

#q10:hover {
  color: red;
}
